.form-btn {
   display: inline-block;
   padding: 16px 40px;
   font-size: 1.125rem;
   line-height: 1.75rem;
   background-color: #1dc071;
   color: white;
   font-weight: 600;
   border-radius: 8px;
   user-select: none;
   cursor: pointer;
   position: relative;
   isolation: isolate;
   overflow: hidden;
   border: none;
}
.form-btn:hover::before {
   left: auto;
   right: 0;
   width: 100%;
}
.form-btn::before {
   content: '';
   position: absolute;
   left: 0;
   right: auto;
   top: 0;
   height: 100%;
   width: 0;
   background-color: #fff;
   opacity: 0.1;
   z-index: -1;
   transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
